// out: styles.css, sourcemap: true, compress: true

html, body {
    height: 100%;
}

body {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.035rem;
}

h1 {
    font-weight: 700;
    font-style: italic;
}



.navbar {
    .navbar-brand {
        font-weight: 700;
    }
}

table {
    td, th {
        vertical-align: middle !important;
        text-align: center;
    }

    tbody {
        text-align: center;
        tr {
            &:nth-child(1){
                background-color: #ffbc00;

                .podium {
                    color: #ffbc00;
                }
            }
            &:nth-child(2){
                background-color: #bfbfbf;

                .podium {
                    color: #bfbfbf;
                }
            }
            &:nth-child(3){
                background-color: #c3883f;

                .podium {
                    color: #c3883f;
                }
            }

            th {
                i {
                    position: relative;

                    .podium {
                        position: absolute;
                        color: #FFF;
                        font-family: cursive;
                        left: 50%;
                        top: 25%;
                        transform: translate(-50%, -50%);
                        font-size: 26px;
                    }
                }
            }

            td {
                &:nth-child(2){
                }
            }

            td, th {
                padding: .15rem !important;
            }
        }
    }
}


#team {
    h3 {
        text-align: center;
        font-weight: 200;
        margin: 1rem 0;
    }

    h4 {
        text-align: center;
        font-size: 0.9rem;
        text-transform: uppercase;
        padding: 5px 0;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }
}

#game {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0 15px 40px lightgrey;
  transition: 3s;
  transform: scale(1, 1);
  margin-top: 20%;
}
